<div class="mt-5 mb-5">
  <button class="btn btn-primary mb-2" routerLink='create'>إنشاء خبر</button>
  <div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table row-border table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>عنوان الخبر</td>
        <td>تفاصيل الخبر</td>
        <td>صورة الخبر</td>
        <td>نوع الخبر</td>
        <td>تاريخ الخبر</td>
        <td>رفع بواسطة</td>
        <td>حالة الخبر</td>
        <td>المصدر</td>
        <td>اللغة</td>
        <td>تعديل</td>
        <td>تعطيل</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let _new of news">
        <td>{{ _new.id }}</td>
        <td>{{ _new.title }}</td>
        <td>
          <button class="btn btn-primary" (click)="openModalForDescr(_new.descr)">عرض</button>
          <!-- <div innerHtml= "{{_new.descr}}"></div> -->
        </td>
        <td>
          <button class="btn btn-primary" (click)="openModalForImg(imgUrl + _new.imgUrl)">عرض</button>
        </td>
        <td>{{ _new.typeName }}</td>
        <td>{{ _new.newsDate |date:"MMM dd yyyy HH:MM:ss" }}</td>
        <td>{{ _new.uploadedBy }}</td>
        <td>{{ _new.active?"مفعل":"معطل" }}</td>
        <td>{{ _new.newsResource }}</td>
        <td>{{ _new.lang }}</td>
        <td><button class="btn btn-warning" routerLink="edit/{{+_new.id}}"><i class="fa fa-edit"></i> </button></td>
        <td><button class="btn btn-danger" (click)="lockNews(_new)">
            <i class="fa fa-lock" *ngIf="_new.active"></i>
            <i class="fa fa-unlock" *ngIf="!_new.active"></i>
          </button> </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<!-- <div class="row mt-5">
    <div class="col-2">
        <button routerLink='/news/create' class="btn btn-primary mb-2">إنشاء خبر</button>
    </div>
    <h5 class="mb-2"><i class="fa fa-users"></i> قائمة الأخبار </h5>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td>عنوان الخبر</td>
                    <td>تفاصيل الخبر</td>
                    <td>صورة الخبر</td>
                    <td>نوع الخبر</td>
                    <td>تاريخ الخبر</td>
                    <td>رفع بواسطة</td>
                    <td>المصدر</td>
                    <td>اللغة</td>
                    <td>حالة الخبر</td>
                    <td>تعديل</td>
                    <td>تعطيل</td>
                </tr>
            </thead>
            <tr *ngFor="let user of news">
                <td>{{user.username}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.phonenumber}}</td>
                <td>{{user.locked?"معطل":"مفعل"}}</td>
                <td>{{user.roles}}</td>
                <td><button class="btn btn-primary" (click)="openRolesModal(user)"><i class="fa fa-cog"></i>
                        إدارة</button>
                </td>
                <td><button class="btn btn-warning"  routerLink="/users/{{user.username}}"><i class="fa fa-edit"></i> </button> </td>
                <td><button class="btn btn-danger" (click)="lockUser(user)">
                    <i class="fa fa-unlock" *ngIf="user.locked"></i>
                    <i class="fa fa-lock" *ngIf="!user.locked"></i>
                </button> </td>
            </tr>
        </table>
    </div>
</div> -->