<!--// Blog Section Start //-->
@using System.Globalization
@model IEnumerable<AmanaSite.Models.VM.NewsVM>
<section class="section pb-minus-76 defined-news-bg" id="blog" data-scroll-index="4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading-left">
                    <h2>الأخبار</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-theme" id="blogCarousel">
            @foreach (var news in Model)
            {
                var newsTitle = news.Title;
                if (newsTitle.Length > 200)
                {
                    newsTitle = newsTitle.Substring(0, 200) + " ...";
                }
                var newsIcon = news.TypeName switch
                {
                    "أخبار المملكة" => "ksa-52.png",
                    "أخبار المدينة" => "madinah-logo.png",
                    "أخبار الأمانة" => "amana-52.jpg",
                    _ => ""
                };
                <div class="item">
                    <div class="blog-item">
                        <div class="blog-img">
                            <a href="blog-single.html">
                                <img src="images/news/@news.ImgUrl" alt="news image" class="img-fluid">
                            </a>
                        </div>
                        <div class="blog-body">
                            <img src="img/blog/@newsIcon" alt="news icon author image" class="blog-author-img">
                            <div class="blog-meta" style="width: 100%;">
                                <a href="#"><span><i class="fa fas fa-globe"></i>@news.TypeName</span></a>
                                <a href="#">
                                    <span><i class="far fa-calendar-alt"></i>
                                        <small>@news.NewsDate.ToString("dddd, dd MMMM yyyy", new CultureInfo("ar-SA"))</small>
                                    </span></a>
                            </div>
                            <p>
                                @newsTitle
                            </p>
                            <a href="#" class="blog-link">
                                إقرأ المزيد
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>
<!--// Blog Section End //-->