<!--// Contact Section Start //-->
            <section class="section bg-primary-light" id="contact" data-scroll-index="7">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-heading">
                                <h2>راسل الأمانة</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-info-item">
                                <div class="icon">
                                    <span class="fa fa-map-marker-alt"></span>
                                </div>
                                <div class="body">
                                    <h5>العنوان</h5>
                                    <p>حي العنبرية - طريق أمير المؤمنين عمر بن الخطاب رضي الله عنه 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-info-item">
                                <div class="icon">
                                    <span class="fas fa-envelope-open-text"></span>
                                </div>
                                <div class="body">
                                    <h5>الهاتف و البريد:</h5>
                                    <p>Info@Amana-md.gov.sa</p>
                                    <p>8227400</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="contact-form-wrap">
                                <form id="contactForm">
                                    <div class="row">
                                         <div class="col-md-12">
                                            <div class="contact-form-group custom-select-wrapper">
                                                <select name="contact_subject" class="form-control" id="contactSubject">
                                                    <option value="Please Select">الموضوع</option>
                                                    <option value="Sales">إقتراح</option>
                                                    <option value="Services">شكوى</option>
                                                    <option value="Support">أخرى</option>
                                                </select>
                                            </div>
                                        </div>
                                         <div class="col-md-12">
                                            <div class="contact-form-group">
                                                <textarea name="contact_message" id="contactMessage" class="form-control"  placeholder="الرسالة *" cols="20" rows="8"></textarea>
                                                <div class="form-validate-icons">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <hr>
                                            <p>معلومات التواصل لنتمكن من ارسال الرد</p>
                                            <hr>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="contact-form-group">
                                                <input type="text" class="form-control" name="contact_name" id="contactName" placeholder="الإسم  *">
                                                <div class="form-validate-icons">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="contact-form-group">
                                                <input type="text" class="form-control" name="contact_phone" id="contactPhone" placeholder="رقم الجوال *">
                                                <div class="form-validate-icons">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="contact-form-group">
                                                <input type="text" class="form-control" name="contact_email" id="contactEmail" placeholder="البريد الإلكتروني *">
                                                <div class="form-validate-icons">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                       <div class="col-md-6" style="text-align: end;">
                                            <div class="contact-btn-left">
                                                <button type="submit" id="contactBtn" class="primary-btn">
                                                    <span class="text">إرســــــــال</span>
                                                    <span class="icon"><i class="fa fa-arrow-right"></i></span>
                                                </button>
                                            </div>
                                       </div>
                                       
                                        <div class="col-md-12 text-center">
                                            <div class="form-alerts">
                                                <div class="empty-form text-center" style="display: none;"><span>من فضلك أدخل الحقول المطلوبة</span></div>
                                                <div class="terms-alert text-center" style="display: none;"><span>رجاء وافق على الشروط</span></div>
                                                <div class="subject-alert text-center" style="display: none;"><span>فضلا إختار الموضوع</span></div>
                                                <div class="security-alert text-center" style="display: none;"><span>رمز الامان غير صحيح !</span></div>
                                                <div class="email-invalid text-center" style="display: none;"><span>فضلا إدخل بريد صحيح.مثلا. example@gmail.com</span></div>
                                                <div class="phone-invalid text-center" style="display: none;"><span>فضلا ادخل رقم جوال صحيح مثلا. 200-255-4444</span></div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// Contact Section End //-->