<div class="card mt-5">

</div>
<form [formGroup]='newsForm' (ngSubmit)="newsForm.valid && create()" autocomplete="off">
    <div class="card">
        <div class="col-4 mt-2">
            <p class="text-primary">
                إنشاء خبر
            </p>
        </div>
        <div class="card-body">
            <app-text-input [formControl]='newsForm.controls["title"]' [label]='"عنوان الخبر"'></app-text-input>
            <!-- <app-text-input [formControl]='newsForm.controls["descr"]' [label]='"وصف الخبر"'></app-text-input> -->
            <!-- <angular-editor [formControl]='newsForm.controls["descr"]' [(ngModel)]="htmlContent" [config]="editorConfig"></angular-editor> -->
            <div [froalaEditor]>Hello, Froala!</div>
            <br>
            <app-text-input [formControl]='newsForm.controls["newsResource"]' [label]='"مصدر الخبر"'></app-text-input>
            <div class="form-group small-control">
                <label class="control-label">صورة الخبر</label>
                  <app-text-input [formControl]='newsForm.controls["newsImg"]' type="file" 
                [label]='"صورة الخبر"'></app-text-input>   
            </div>
       

            <label class="control-label">نوع الخبر</label>
            <select class="form-control small-control">
                <option *ngFor="let _type of newsTypes" value="_type.id">{{_type.type}}</option>
            </select>

            <br>
            <label class="control-label">اللغة</label>

            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" value="Ar" formControlName="langCode">العربية
                </label>
                <label class="radio-inline">
                    <input type="radio" value="En" formControlName="langCode" class="mr-3">English
                </label>
            </div>

<div class="html">
    {{htmlContent}}
</div>
            <div class="row" *ngIf="validationErrors.length>0">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]='!newsForm.valid'>حفظ</button>
        </div>
    </div>
</form>