<!--// Services Section Start //-->
<section class="section pb-minus-70 bg-primary-light" id="ProjectSection" data-scroll-index="2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>مشاريع الأمانة</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
                <div class="services-item">
                    <img src="~/images/projects/2.jpg" alt="Services image" class="services-bg-img">
                    <div class="body">
                        <h4>01</h4>
                        <h5>شوارع مخطط العوينة</h5>
                        <p>
                            رفـعاً لكفــاءة
                            مسـتوى الطـرق بداخل الأحـياء
                            "صور" لأعمــال تنفـيذ سفلتـــة
                            47 ٪ من شوارع مخطط العوينة.
                        </p>
                        @* <a href="services-detail.html">Read More <i class="fa fa-arrow-right"></i></a> *@
                        <a href="#">التفاصيل <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="icon">
                        <span class="fas fa-business-time"></span>
                    </div>
                    <div class="icon-border"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="services-item">
                    <img src="~/images/projects/1.jpg" alt="Services image" class="services-bg-img">
                    <div class="body">
                        <h4>02</h4>
                        <h5>أسواق المدينة</h5>
                        <p>
                            سيسهم المشروع
                            في تمكين القطاع الخاص، وتوفير
                            المزيد من الخيارات الترفيهية لسكان
                            وزوار المدينة المنورة.
                        </p>
                        <a href="services-detail.html">التفاصيل <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="icon">
                        <span class="fas fa-business-time"></span>
                    </div>
                    <div class="icon-border"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="services-item">
                    <img src="~/images/projects/3.jpg" alt="Services image" class="services-bg-img">
                    <div class="body">
                        <h4>03</h4>
                        <h5>تقاطع طريق السـلام مع طريق الملك عبد الله</h5>
                        <p>⁩
                             مشروع
                            تقاطع طريق السـلام مع طـريق
                            الملك عبد الله 
                            بنسبة إنجاز بلغت 50٪
                        </p>
                        <a href="services-detail.html">التفاصيل <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="icon">
                        <span class="fas fa-business-time"></span>
                    </div>
                    <div class="icon-border"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.1s">
                <div class="services-item">
                    <img src="~/img/services/services-bg-img-4.jpg" alt="Services image" class="services-bg-img">
                    <div class="body">
                        <h4>04</h4>
                        <h5>Content Writing</h5>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout.
                        </p>
                        <a href="services-detail.html">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="icon">
                        <span class="fa fa-blog"></span>
                    </div>
                    <div class="icon-border"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="services-item">
                    <img src="~/img/services/services-bg-img-5.jpg" alt="Services image" class="services-bg-img">
                    <div class="body">
                        <h4>05</h4>
                        <h5>Scripts & Plugin</h5>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout.
                        </p>
                        <a href="services-detail.html">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="icon">
                        <span class="fa fa-code"></span>
                    </div>
                    <div class="icon-border"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.1s">
                <div class="services-item">
                    <img src="~/img/services/services-bg-img-6.jpg" alt="Services image" class="services-bg-img">
                    <div class="body">
                        <h4>06</h4>
                        <h5>Digital Marketing</h5>
                        <p>
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout.
                        </p>
                        <a href="services-detail.html">Read More <i class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="icon">
                        <span class="fa fa-bullhorn"></span>
                    </div>
                    <div class="icon-border"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// Services Section End //-->