<div *ngIf="user">

    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
        <div class="card mt-5">
            <div class="card-header bg-dark">
                <p class="d-inline">تعديل المستخدم </p>
                <p class="text-light d-inline">({{user.fullname}})</p>
            </div>
            <div class="card-body">
                <div class="col-8">
                    <div class="alert alert-info" *ngIf="editForm.dirty">
                        <strong>تنبيه: </strong> اذا لم تقم بالضغط على حفظ ستفقد البيانات المدخلة
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <input class="form-control mt-2" type="text" placeholder="الاسم بالكامل" name="fullname"
                            [(ngModel)]="user.fullname">
                        <input class="form-control mt-2" placeholder="رقم الجوال" type="text" name="phonenumber"
                            [(ngModel)]="user.phonenumber">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center d-none d-md-block">
                        <i class="fa fa-user" style="font-size:150px;color:gray"></i>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <button form="editForm" type="submit" [disabled]="!editForm.dirty"
                        class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </div>
    </form>



</div>