<form [formGroup]='serviceForm' (ngSubmit)="serviceForm.valid && handle()" autocomplete="off">
    <div class="card mt-5">
        <div class="card-header bg-dark">
            <p class="text-light">
                {{_service?.id==0?"تعديل خدمة":"إنشاء خدمة"}}
            </p>
        </div>
        <div class="card-body">
            <app-text-input [formControl]='serviceForm.controls["descr"]' [label]='"وصف الخدمة"'></app-text-input>

            <br>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="form-group small-control">
                        <label class="control-label">صورة الخدمة</label>
                        <app-text-input [formControl]='serviceForm.controls["serviceImg"]' type="file"
                            (change)="setFiles($event)" [label]='"صورة الخدمة"'>
                        </app-text-input>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="{{imgUrl}}" alt="{{_service?.descr}}" class="img-fluid">
                </div>
            </div>
            <br>
            <app-text-input [formControl]='serviceForm.controls["link"]' [label]='"رابط الخدمة"'></app-text-input>

            <label class="control-label">نوع الخدمة</label>
            <select class="form-control small-control" formControlName="typeId">
                <option *ngFor="let _type of servicesTypes" value="{{_type.id}}">{{_type.name}}</option>
            </select>

            <br>
            <label class="control-label">اللغة</label>

            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" value="1" formControlName="langCode">العربية
                </label>
                <label class="radio-inline">
                    <input type="radio" value="2" formControlName="langCode" class="mr-3">English
                </label>
            </div>
            <div class="row" *ngIf="validationErrors.length>0">
                <ul class="text-danger">
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]='!serviceForm.valid'>حفظ</button>
        </div>
    </div>
</form>