<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Fawaz Almogadem">
    <meta name="robots" content="index,follow">
    <meta name="publisher" content="Fawaz Almogadem">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="أمانة منطقة المدينة المنورة">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>أمانة منطقة المدينة المنورة</title>
    <link rel="shortcut icon" href="~/img/bg/favicon.ico" type="image/x-icon">
    <!--// Boostrap v5 //-->
    <link rel="stylesheet" href="~/vendor/css/bootstrap.min.css">
    <!--// Magnific Popup //-->
    <link rel="stylesheet" href="~/vendor/css/magnific.popup.min.css">
    <!--// Animate Css //-->
    <link rel="stylesheet" href="~/vendor/css/animate.min.css">
    <!--// Owl Carousel //-->
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.min.css">
    <!--// Owl Carousel Default //-->
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.default.min.css">
    <!--// Font Awesome //-->
    <link rel="stylesheet" href="~/fonts/font_awesome/css/all.css">
    <!--// Flat Icons //-->
    <link rel="stylesheet" href="~/fonts/flat_icons/flaticon.css">
    <!--// Theme Main Css //-->
    <link rel="stylesheet" href="~/css/style.css">
    <!--// Theme Color Css //-->
    <link rel="stylesheet" href="~/css/skins/default-color.css" id="theme-color-toggle" />
    @RenderSection("styles", required: false)
    <!-- custom -->
    @* <link rel="stylesheet" href="~/css/quill.core.css" /> *@
</head>

<body data-spy="scroll" data-target="#fixedNavbar">

    <!--// Page Wrapper Start //-->
    <div class="page-wrapper" id="wrapper">

        <!--// Header Start //-->
        <header class="header fixed-top" id="header">
            <div id="nav-menu-wrap">
                <div class="container">
                    <nav class="navbar navbar-expand-lg p-0">
                        <a class="navbar-brand" title="Home" href="~/">
                            <img src="~/img/bg/logo_white.png" alt="Logo White" class="img-fluid logo-transparent">
                            <img src="~/img/bg/logo_black.png" alt="Logo Black" class="img-fluid logo-normal">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#fixedNavbar"
                            aria-controls="fixedNavbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="togler-icon-inner">
                                <span class="line-1"></span>
                                <span class="line-2"></span>
                                <span class="line-3"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse main-menu justify-content-end" id="fixedNavbar">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="amanaDropdownMenu"
                                        data-scroll-nav="1" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        الأمانة
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="blogDropdownMenu">
                                        <a class="dropdown-item" href="blog-grid.html">البلديات الفرعية</a>
                                        <a class="dropdown-item" href="blog-sidebar.html">بلديات المحافظات</a>
                                        <a class="dropdown-item" href="blog-single.html">الهيكل التنظيمي</a>
                                        <a class="dropdown-item" href="blog-single.html">إستطلاع رأي</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#" data-scroll-nav="2">المشاريع</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link menu-link" href="#" data-scroll-nav="3">الإنجازات</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="blogDropdownMenu"
                                        data-scroll-nav="4" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        المركز الإعلامي
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="blogDropdownMenu">
                                        <a class="dropdown-item" href="#" data-scroll-nav="4">الأخبار</a>
                                        <a class="dropdown-item" href="#" data-scroll-nav="4">وسائط الأمانة</a>
                                        <a class="dropdown-item" href="#" data-scroll-nav="4">إنفوجرافك المدينة</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="blogDropdownMenu"
                                        data-scroll-nav="5" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">تواصل معنا</a>
                                    <div class="dropdown-menu" aria-labelledby="blogDropdownMenu">
                                        <a class="dropdown-item" href="#" data-scroll-nav="5">راسل الأمانة</a>
                                        <a class="dropdown-item" href="#">راسل الأمين</a>
                                        <a class="dropdown-item" href="#">نظام البلاغات 940</a>
                                    </div>
                                </li>
                                <li class="nav-item navbar-btn-resp d-flex align-items-center mr-2 ml-2">
                                    <a href="#" data-scroll-nav="6" class="primary-btn">
                                        <span class="text">الخدمات الإلكترونية</span>
                                        <span class="icon"><i class="fa fa-arrow-right"></i></span>
                                    </a>
                                </li>
                                <li class="nav-item  d-flex align-items-center mr-2 ml-2">
                                    <button type="button" title="En" class="primary-btn" data-id="En" id="rtlToggle">
                                        <span class="icon"><i class="fa fa-globe"></i></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!--// Header End  //-->

        <!--// Main Area Start //-->
        <main class="main-area">
            @RenderBody()
            <!--// Footer Start //-->
            <footer class="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-6 footer-widget-resp">
                                <div class="footer-widget">
                                    <h6 class="footer-title">#المدينة_أمانة</h6>
                                    <a href="https://www.vision2030.gov.sa/ar/" target="_blank">
                                        <img src="~/img/bg/2030.png" alt="footer logo" class="img-fluid footer-logo"></a>
                                    <p class="footer-desc">
                                        تهدف أمانة منطقة المدينة المنورة للارتقاء بالخدمات البلدية في المنطقة،
                                         والمحافظة على خصوصيتها، وتنميتها وتطويرها عمرانيًّا واقتصاديًّا واجتماعيًّا.
                                    </p>
                                    <div class="footer-social-links">
                                        <a href="https://www.facebook.com/AmanaAlmadinah" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="https://www.twitter.com/amanaalmadinah" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="https://instagram.com/amana.almadinah" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                        <a href="https://www.youtube.com/AmanaAlmadinah" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                        <a href="https://www.flickr.com/photos/68384851@N05/" target="_blank">
                                            <i class="fab fa-flickr"></i>
                                        </a>
                                        <a href="https://www.snapchat.com/add/aamana-almadina" target="_blank">
                                            <i class="fab fa-snapchat"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2 footer-widget-resp">
                                <div class="footer-widget footer-widget-pl">
                                    <h6 class="footer-title">روابط مهمة</h6>
                                    <ul class="footer-links">
                                        <li>
                                            <a href="javascript:void(0)">دليل الأنظمة</a>
                                        </li>
                                        <li>
                                            <a href="https://www.momra.gov.sa/" target="_blank">وزارة الشئون البلدية و
                                                القروية</a>
                                        </li>
                                        <li>
                                            <a href="jhttps://www.my.gov.sa/wps/portal/snp/main/!ut/p/z1/04_Sj9CPykssy0xPLMnMz0vMAfIjo8zivQIsTAwdDQz9_d29TAwCnQ1DjUy9wgwM3M30w_Wj9KNQlBibOgGV-Jr7OwaHGRoYmEIVGOAAjgb6BdnZgQDi4Jpl/dz/d5/L0lDUmlTUSEhL3dHa0FKRnNBLzROV3FpQSEhL2Fy/"
                                                target="_blank">
                                                المنصة الوطنية الموحدة
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://amana-md.gov.sa/opendata">البيانات المفتوحة</a>
                                        </li>
                                        <li>
                                            <a href="https://services.amana-md.gov.sa/AmanaServices/ServiceCat/Get?Id=77&&TypeId=1&&TypeName=%D8%AE%D8%AF%D9%85%D8%A7%D8%AA%20%D8%A7%D9%84%D8%A3%D9%81%D8%B1%D8%A7%D8%AF"
                                                target="_blank">بحث عن معاملة</a>
                                        </li>
                                        <li>
                                            <a href="https://www.momra.gov.sa/ar/regulations">اللوائح و الأنظمة</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 footer-widget-resp">
                                <div class="footer-widget">
                                    <h6 class="footer-title">أتصل بنا</h6>
                                    <div class="footer-contact-info-wrap">
                                        <ul class="footer-contact-info-list">
                                            <li>
                                                <h6>العنوان:</h6>
                                                <p>
                                                    حي العنبرية - طريق أمير المؤمنين عمر بن الخطاب رضي الله عنه - مقابل
                                                    السكة الحديد <br>ص.ب : 4952
                                                    <br>الرمز البريدي : 41412
                                                </p>
                                            </li>
                                            <li>
                                                <h6>الهاتف و البريد:</h6>
                                                <div class="text">
                                                    <p>8227400</p>
                                                    <p>Info@Amana-md.gov.sa</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        <p class="copyright-text">كل الحقوق محفوظة © امانة منطقة المدينة المنورة - @DateTime.Now.Year
                        </p>
                    </div>
                </div>
            </footer>
            <!--// Footer End //-->
        </main>
        <!--// Main Area End //-->

        <a href="#" class="scroll-top-btn" data-scroll-goto="1">
            <i class="fa fa-arrow-up"></i>
        </a>
        <!--// .scroll-top-btn // -->

        <div id="preloader-wrap">
            <div class="preloader-inner">
                <div class="lds-roller">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!--// Preloader // -->

    </div>
    <!--// Page Wrapper End //-->


    <!--// JQuery //-->
    <script src="~/vendor/js/jquery.min.js"></script>
    <!--// Popper //-->
    <script src="~/vendor/js/popper.min.js"></script>
    <!--// Bootstrap //-->
    <script src="~/vendor/js/bootstrap.min.js"></script>
    <!--// Images Loaded Js //-->
    <script src="~/vendor/js/images.loaded.min.js"></script>
    <!--// Wow Js //-->
    <script src="~/vendor/js/wow.min.js"></script>
    <!--// Magnific Popup //-->
    <script src="~/vendor/js/magnific.popup.min.js"></script>
    <!--// Waypoint Js //-->
    <script src="~/vendor/js/waypoint.min.js"></script>
    <!--// Counter Up Js //-->
    <script src="~/vendor/js/counter.up.min.js"></script>
    <!--// JQuery Easing Functions //-->
    <script src="~/vendor/js/jquery.easing.min.js"></script>
    <!--// Owl Carousel //-->
    <script src="~/vendor/js/owl.carousel.min.js"></script>
    <!--// Form Validate //-->
    <script src="~/vendor/js/validate.min.js"></script>
    <!--// Form Validate //-->
    <script src="~/vendor/js/custom.select.plugin.js"></script>
    <!--// Scroll It //-->
    <script src="~/vendor/js/scrollit.min.js"></script>
    <!--// Isotope Js //-->
    <script src="~/vendor/js/isotope.min.js"></script>
    <!--// Particles Js //-->
    <script src="~/vendor/js/particles.js"></script>
    <!--// Main Js //-->
    <script src="~/js/main.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('body').removeClass("ltr-mode").addClass("rtl-mode");
        });
    </script>
</body>

</html>