

.page-details-eservice {
    text-align: center;
}

.eservice-item {
    width: 120px;
    min-height: 140px;
    margin: 5px;
    border: 1px solid #e4e4e4;
    border-bottom: 5px solid #009966;
    display:inline-table;
    padding: 0 !important;
}

    .eservice-item h2 a {
        font-size: 14px !important;
        margin: 0 !important;
        padding: 0 !important;
        color: rgba(0, 0, 0, 0.6);
    }

        .eservice-item h2 a:hover {
            color: #009966;
            text-decoration: none;
            line-height: 5px;
        }

    .eservice-item i {
        margin-top: 5px;
        font-size: 30px;
        color: #e4e4e4 !important;
    }
.eservice-item-lights i {
    font-size: 50px !important;
    color: #ae8d0b !important;
}
        .top-image {
    width: 100%;
    height: auto;
    z-index: 2;
    top: 0px;
    position: relative;
}

.corner-bordered-div {
    position: relative;
    display: table;
    width: 260px;
    height: 180px;
    padding:5px;
}

    .corner-bordered-div:before,
    .corner-bordered-div:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        border: solid #00666f;
        border-width: 2px 2px 0 0;
        display: block;
    }

    .corner-bordered-div:before {
        right: 5px;
        top: -10px;
    }

    .corner-bordered-div:after {
        border-width: 0 0 2px 2px;
        bottom: 5px;
        left: 5px;
    }

.div-details {
    top: -80px;
    display: block;
    background-color: #fff;
    z-index: 100;
    position: relative;
    box-shadow: 0 0 5px rgba(9, 9, 9, .2);
    border-radius: 5px;
    font-family: 'DroidArabicKufiBold';
    margin-left: 10%;
    margin-right: 10%;
}

.div-header {
    border-right: solid 10px #009966;
    border-left: solid 10px #009966;
    padding: 10px;
    right: 0;
    background-color: #e5e5e5;
    opacity: 1;
    width: 100%;
    direction: rtl;
    text-align:right;
}

    .div-header a {
        color: #009966;
    }

        .div-header a:hover {
            color: #ae8d0b;
            text-decoration: none;
        }

.div-details a {
    color: #009966;
    font-size: 18px;
    /* display: inline; */
}

.div-details i {
    color: #ae8d0b;
}

.div-header a i {
    color: #009966;
}

.div-details p {
    font-size: 18px;
    display: inline;
}

.div-top-lable {
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    border-top: 5px solid #009966;
    background-color: #fff;
    opacity: 1;
    width: 97%;
    margin-top: 20px;
    direction: rtl;
    text-align:right;
    border-bottom: 1px solid #009966;
}

.top-left-icon {
    float: left;
}

    .top-left-icon a {
        padding: 5px;
    }

        .top-left-icon a i {
            color: #838282;
        }

            .top-left-icon a i:hover {
                color: #ae8d0b;
            }

.page-details {
    background-image: url(../img/bg/Background_Pattern.png);
    background-attachment: fixed !important;
    background-repeat: repeat;
    background-size: cover;
    padding: 15px;
    /* text-align: center; */
    /*box-shadow: 0 0 5px rgba(9, 9, 9, .9);
    border-radius: 5px;*/
    display: block;
}

.page-details-text {
    padding: 10px;
    margin-top: 20px;
}
.news-saved-img img {
    width: 100%;
}



.page-details-news {
    text-align: center;
    font-family: 'DroidArabicKufiBold';
}

.news-item {
    width: 240px;
    margin: 2%;
    border-bottom: 5px solid #009966;
    padding-bottom: 5px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(9, 9, 9, .5);
}

.news-item-text {
    padding: 5px;
    height: 80px;
}

.news-item-date p {
    color: #838282;
    font-size: 14px;
}

.news-item a {
    color: #009966;
}

    .news-item a:hover {
        color: #ae8d0b;
        text-decoration: none;
    }

.news-item i {
    color: #ae8d0b;
    font-size: 20px;
}

.news-item img {
    width: 240px;
    height: 200px;
    filter: brightness(70%);
}

.all-news-footer {
    width: 100%;
    padding: 10px;
    text-align: right;
    background-color: #009966;
}

    .all-news-footer a {
        color: #fff;
    }

        .all-news-footer a:hover {
            color: #009966;
            text-decoration: none;
            color: #ae8d0b;
        }

.Present-new {
    float: left;
}

.Old-New {
    right: 0;
}

.disabledbutton {
    cursor: not-allowed;
}
@media(max-width:991px ) {
    #DetialsPage {
    }
    .div-details {
        margin-left: 1%;
        margin-right: 1%;
        top: 2%;
        margin-bottom:0px;
    }
}

