<!--//Google Map Section Start //-->
<div class="defined-map-bg" >
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 m-5">
            <iframe
            style="border-radius:50px;"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14526.163362521953!2d39.5997385!3d24.4667108!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15bdbf0df14b30fd%3A0xbb227a1e3da2df66!2z2KPZhdin2YbYqSDZhdmG2LfZgtipINin2YTZhdiv2YrZhtipINin2YTZhdmG2YjYsdip!5e0!3m2!1sar!2ssa!4v1627907092081!5m2!1sar!2ssa"
                @* src="https://maps.google.com/maps?&amp;q=24.4689844,39.6170404&amp;output=embed" *@
                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
<!--//   //-->
<!--// Google Map Section End //-->