<section class="section pb-minus-76 defined-social-bg" id="blog2" data-scroll-index="5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading-left white-header">
                    <h2>وسائط الأمانة</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-theme" id="blogCarousel2">

            <div class="item">
                <div class="blog-item">
                    <div class="blog-body">
                        <h5>فيسبوك الأمانة</h5>
                        
                            <div class="fb-page" data-href="https://www.facebook.com/AmanaAlmadinah"
                                data-tabs="timeline" data-width="500" data-height="350" data-small-header="false"
                                data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/AmanaAlmadinah"
                                    class="fb-xfbml-parse-ignore">
                                    <a href="https://www.facebook.com/AmanaAlmadinah">‎أمانة منطقة المدينة المنورة‎</a>
                                </blockquote>
                            </div>
                    </div>
                </div>
            </div>

              <div class="item">
                <div class="blog-item">
                    <div class="blog-body">
                        <h5>تويتر الأمانة</h5>
                        <div style="max-height: 350px; overflow-y: auto;">
                            <p>
                                <a class="twitter-timeline"
                                    href="https://twitter.com/AmanaAlmadinah?ref_src=twsrc%5Etfw">
                                    تغريدات الأمانة
                                </a>
                                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
</section>
<!--// Blog Section End //-->