@using Microsoft.Extensions.Localization
@section styles{
<link rel="stylesheet" href="~/css/defined.css">
}
@await Component.InvokeAsync("Slider")
@* , new { start=0,length=5 } *@
@await Component.InvokeAsync("Video")
@await Component.InvokeAsync("Project")
@await Component.InvokeAsync("Counters")
@await Component.InvokeAsync("News")
@Html.Partial("_SocialMediaPartial")
@await Component.InvokeAsync("Info")
@Html.Partial("_MapPartial")
@await Component.InvokeAsync("ContactUs")
<!-- facebook plugin -->
<div id="fb-root"></div>
@section scripts{
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v11.0" nonce="AE6s4pVJ"></script>

}
<!-- facebook plugin -->