@await Component.InvokeAsync("Slider")
@await Component.InvokeAsync("Video")
@await Component.InvokeAsync("Project")
@await Component.InvokeAsync("Counters")
@await Component.InvokeAsync("News")
@{
    await Html.RenderPartialAsync("_SocialMediaPartial");
}
@await Component.InvokeAsync("Info");
@{
    await Html.RenderPartialAsync("_MapPartial");
}
@await Component.InvokeAsync("ContactUs");
<!-- facebook plugin -->
<div id="fb-root"></div>
@section scripts{
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v11.0"
    nonce="AE6s4pVJ"></script>
<script>
    $(document).ready(function () {
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('#') + 1);
        $('html, body').animate({
            scrollTop: $(id).offset().top
        }, 'slow');
    });
</script>

}
<!-- facebook plugin -->